// color-related

// index.html
$light-gray: rgba(100, 100, 100, .7);
$dark-gray: rgba(25, 25, 25, .7);
$white: rgba(255, 255, 255, .9);
$toast: rgba(187, 138, 76, 9);
$black: rgba(10, 10, 10, 9);
$brown: rgba(56, 30, 10, .8);
$red: rgba(178, 6, 0, 9);
$green: rgba(74, 106, 65, 9);

//ejercicio1.html

//ejercicio2.html

//ejercicio3.html




// font-related
$font-fira: 'Fira Sans', sans-serif;
$fw-1: 100;
$fw-2: 300;
$fw-3: 400;
$fw-4: 700;
$fw-5: 900;

$fs-xxl: 4rem;
$fs-xl: 2.5rem;
$fs-l: 1.5rem;
$fs-regular: 1rem;
$fs-sm: .75rem;